<md-card class="user-list">
  <md-card-title>
    Users
    <button md-raised-button type="button" (click)="showInsertForm = true" style="float: right;">New</button>
  </md-card-title>
  <md-card-content>
    <md-list>
      <md-list-item *ngFor="let user of users">
        <h4 class="user-list-item-name">{{user.firstName}} {{user.lastName}} [{{user.id}}]</h4>
        <button md-icon-button (click)="infoUser = user; showUserInfo = true;">
            <md-icon>info</md-icon>
         </button>
         <span [hidden]="!canViewRecords()">
           <button md-icon-button (click)="loadRecords(user)">
               <md-icon>directions_run</md-icon>
           </button>
         </span>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>
<button md-raised-button type="button" (click)="prev()" style="float: left;">Previous</button>
<button md-raised-button type="button" (click)="next()" style="float: right;">Next</button>

<div [hidden]="!showUserInfo" class="dialog-background">
  <div fxLayout="row"
    fxLayoutAlign="center center"
    class="card-container"
    style="width:100%;height:100%;">
     <user-form fxFlex="80%"
      [user]="infoUser"
      [forCRUD]="true"
      (formSubmitted)="update($event);"
      (formClosed)="showUserInfo = false"
      (formDeleted)="delete($event);"
      class="dialog-modal"></user-form>
  </div>
</div>
<div [hidden]="!showInsertForm" class="dialog-background">
  <div fxLayout="row"
    fxLayoutAlign="center center"
    class="card-container"
    style="width:100%;height:100%;">
     <user-form fxFlex="80%"
      [user]="insertUser"
      [forCRUD]="false"
      (formSubmitted)="new($event);"
      (formClosed)="showInsertForm = false"
      class="dialog-modal"></user-form>
  </div>
</div>
