.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 1200px){
    width: 1170px;
  }
  @media (min-width: 992px){
    width: 970px;
  }
  @media (min-width: 768px){
    width: 750px;
  }
}

.spacer {
  flex: 1 1 auto;
}

.full-width{
  width: 100%;
}

.padding{
  margin-bottom: 20px;
  display: block;
}
