/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';
@import 'layout';
@import 'material-icons';
@import '~@angular/material/core/theming/prebuilt/indigo-pink';

html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.dialog-background{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
}

.dialog-modal{
  background: white;
  padding: 20px;
}

.fullscreen-background{
  background-image: url('../assets/img/running.jpg');
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-position: center;
  background-size: cover;
}

.index-title{
  color: white;
  position: fixed;
  bottom: 5%;
  left: 5%;
  font-size: 50px;
}
