<form>
  <md-input-container class="full-width">
    <input md-input type="text" id="email" name="email" [(ngModel)]="email" required placeholder="Email">
  </md-input-container>
  <md-input-container class="full-width">
    <input md-input type="password" id="password" name="password" [(ngModel)]="password" required placeholder="Password">
  </md-input-container>
  <button md-raised-button type="submit" (click)="submit()" style="float: left;">Submit</button>
  <button md-raised-button type="submit" (click)="close()" style="float: right;">Close</button>
</form>
