<form>
  <md-input-container class="full-width">
    <input md-input type="number" id="distance" name="distance" [(ngModel)]="record.distance" required placeholder="Distance">
  </md-input-container>
  <md-input-container class="full-width">
    <input md-input type="number" id="time" name="time" [(ngModel)]="record.time" required placeholder="Time">
  </md-input-container>
  <div>
    <material-datepicker [(date)]="record.date"></material-datepicker>
  </div>
  <span class="padding"></span>
  <button md-raised-button type="submit" (click)="submit()" style="float: left;">Submit</button>
  <button md-raised-button type="submit" (click)="close()" style="float: right;">Close</button>
</form>
