<form>
  <md-input-container class="full-width">
    <input md-input type="text" id="email" name="email" [(ngModel)]="user.email" required placeholder="Email">
  </md-input-container>
  <md-input-container class="full-width">
    <input md-input type="password" id="password" name="password" [(ngModel)]="insertUserPassword" placeholder="(New) Password">
  </md-input-container>
  <md-input-container class="full-width">
    <input md-input type="text" id="firstName" name="firstName" [(ngModel)]="user.firstName" required placeholder="First Name">
  </md-input-container>
  <md-input-container class="full-width">
    <input md-input type="text" id="lastName" name="lastName" [(ngModel)]="user.lastName" required placeholder="Last Name">
  </md-input-container>
  <md-input-container class="full-width">
    <input md-input type="text" id="address" name="address" [(ngModel)]="user.address" required placeholder="Address">
  </md-input-container>
  <md-input-container class="full-width">
    <input md-input type="text" id="city" name="city" [(ngModel)]="user.city" required placeholder="City">
  </md-input-container>
  <md-input-container class="full-width">
    <input md-input type="text" id="zip" name="zip" [(ngModel)]="user.zip" required placeholder="ZIP">
  </md-input-container>
  <md-input-container class="full-width">
    <input md-input type="text" id="country" name="country" [(ngModel)]="user.country" required placeholder="Country">
  </md-input-container>
  <md-input-container class="full-width">
    <input md-input type="text" id="phone" name="phone" [(ngModel)]="user.phone" required placeholder="Phone">
  </md-input-container>
  <md-input-container class="full-width">
    <textarea md-input type="text" id="note" name="note" [(ngModel)]="user.note" placeholder="Note"></textarea>
  </md-input-container>
  <button md-raised-button type="submit" (click)="submit()" style="float: left;">{{ forCRUD ? 'Update' : 'Submit'}}</button>
  <span [hidden]="!forCRUD">
    <button md-raised-button type="submit" (click)="delete()" style="float: left;">Delete</button>
  </span>
  <button md-raised-button type="submit" (click)="close()" style="float: right;">Close</button>
</form>
