<md-card class="moderator-list">
  <md-card-title>
    Moderators
    <button md-raised-button type="button" (click)="showInsertForm = true" style="float: right;">New</button>
  </md-card-title>
  <md-card-content>
    <md-list>
      <md-list-item *ngFor="let moderator of moderators">
        <h4 class="moderator-list-item-name">{{moderator.firstName}} {{moderator.lastName}} [{{moderator.id}}]</h4>
        <button md-icon-button (click)="infoModerator = moderator; showModeratorInfo = true;">
            <md-icon>info</md-icon>
         </button>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>
<button md-raised-button type="button" (click)="prev()" style="float: left;">Previous</button>
<button md-raised-button type="button" (click)="next()" style="float: right;">Next</button>

<div [hidden]="!showModeratorInfo" class="dialog-background">
  <div fxLayout="row"
    fxLayoutAlign="center center"
    class="card-container"
    style="width:100%;height:100%;">
     <user-form fxFlex="80%"
      [user]="infoModerator"
      [forCRUD]="true"
      (formSubmitted)="update($event);"
      (formClosed)="showModeratorInfo = false"
      (formDeleted)="delete($event);"
      class="dialog-modal"></user-form>
  </div>
</div>
<div [hidden]="!showInsertForm" class="dialog-background">
  <div fxLayout="row"
    fxLayoutAlign="center center"
    class="card-container"
    style="width:100%;height:100%;">
     <user-form fxFlex="80%"
      [user]="insertModerator"
      [forCRUD]="false"
      (formSubmitted)="showInsertForm = false; new($event);"
      (formClosed)="showInsertForm = false"
      class="dialog-modal"></user-form>
  </div>
</div>
