<md-toolbar color="primary">
  <nav>
    <a md-button [routerLink]=" ['./'] " routerLinkActive="active">
      Index
    </a>
    <span [hidden]="role != 'admin'">
      <a md-button [routerLink]=" ['./moderators'] " routerLinkActive="active">
        Moderators
      </a>
    </span>
    <span [hidden]="role != 'admin' && role != 'moderator'">
      <a md-button [routerLink]=" ['./users'] " routerLinkActive="active">
        Users
      </a>
    </span>
    <span [hidden]="role != 'user'">
      <a md-button [routerLink]=" ['./records', {userId: userId}] " routerLinkActive="active">
        Records
      </a>
    </span>
  </nav>
  <span class="spacer"></span>
  <span [hidden]="loggedIn">
    <button md-button [hidden]="loggedIn" (click)="hideSignUp = !hideSignUp">
      Sign Up
    </button>
  </span>
  <span [hidden]="loggedIn">
    <button md-button (click)="hideLogIn = !hideLogIn">
      Log In
    </button>
  </span>
  <span [hidden]="!loggedIn">
    <button md-button (click)="logout()">
      Log Out
    </button>
  </span>
</md-toolbar>

<main class="container">
  <router-outlet></router-outlet>
</main>

<div [hidden]="hideSignUp" class="dialog-background">
  <div fxLayout="row"
    fxLayoutAlign="center center"
    class="card-container"
    style="width:100%;height:100%;">
     <user-form fxFlex="80%"
      [user]="user"
      [forCRUD]="false"
      (formSubmitted)="signup($event)"
      (formClosed)="hideSignUp = true"
      class="dialog-modal"></user-form>
  </div>
</div>
<div [hidden]="hideLogIn" class="dialog-background">
  <div fxLayout="row"
    fxLayoutAlign="center center"
    class="card-container"
    style="width:100%;height:100%;">
     <login-form fxFlex="80%"
      (formSubmitted)="login($event)"
      (formClosed)="hideLogIn = true"
      class="dialog-modal"></login-form>
  </div>
</div>
