<md-card class="record-list">
  <md-card-title>
    Records
    <button md-raised-button type="button" (click)="showInsertForm = true" style="float: right;">New</button>
  </md-card-title>
  <md-card-content>
    <md-list>
      <md-list-item *ngFor="let record of records">
        <md-icon md-list-avatar>directions_run</md-icon>
        <h4 md-line class="record-list-item-name">{{record.distance}} m | {{record.time}} s | {{ record.time > 0 ? (record.distance/record.time*3.6 | number : '1.2-2') : '-'}} kmph</h4>
        <p md-line> {{record.date.toDateString()}} </p>
        <button md-button type="button" (click)="updateRecord = record; showUpdateForm = true;">Edit</button>
        <button md-button type="button" (click)="delete(record)">Delete</button>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>
<button md-raised-button type="button" (click)="prev()" style="float: left;">Previous</button>
<button md-raised-button type="button" (click)="next()" style="float: right;">Next</button>

<div [hidden]="!showInsertForm" class="dialog-background">
  <div fxLayout="row"
    fxLayoutAlign="center center"
    class="card-container"
    style="width:100%;height:100%;">
     <record-form fxFlex="80%"
      [record]="record"
      (formSubmitted)="showInsertForm = false; new($event);"
      (formClosed)="showInsertForm = false"
      class="dialog-modal"></record-form>
  </div>
</div>
<div [hidden]="!showUpdateForm" class="dialog-background">
  <div fxLayout="row"
    fxLayoutAlign="center center"
    class="card-container"
    style="width:100%;height:100%;">
     <record-form fxFlex="80%"
      [record]="updateRecord"
      (formSubmitted)="showUpdateForm = false; update($event);"
      (formClosed)="showUpdateForm = false"
      class="dialog-modal"></record-form>
  </div>
</div>
